@use "../../styles/partials/mixins.scss" as *;

.login {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  margin: auto;
  background-color: #FFF;

  &__form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #FFF;
    height: 80%;
    width: 80%;
    max-width: 900px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    background-color: #478deb;
  }
 
  &__input-wrapper {

    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
  &__label {
    width: 70%;
  }
  &__input {
    @include input-styling;
    padding: 0%;
    width: 70%;
  }
  &__button {
    @include button-styling;
    width: 70%;
  }
}
