
.wrapper{
  height: 100vh;
  width: 100vw;
}

.map-field {
  z-index: 1;
  height: 100%;
  width: 100vw;

  &__button {
    background-color: aqua;
    position: absolute;
    bottom: 1rem;
    left: 5%;
    z-index: 100;
    width: 10rem;
  }

  &__container {
    position: absolute;
    display: flex;
    right: 1rem;
    bottom: 1rem;
    margin: auto;
  }
  &__question{
    position: absolute;
    bottom:3rem;
    left:40%
  }
}

.event-card{
  padding: 0;
  height: 50vh;
  width: 45vh;
}