@use "../../styles/partials/mixins.scss" as *;

.event-form {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  border: solid 2px #13699b;

  &__label{
    color: white;
  }

  &__input {
    height: 1.3rem;
    border-radius: 12px;
    padding: 0.2rem 0;
    border: none;
    width: 90%;
    margin: 0 auto;
    background-color: #f6f8ff;
    // border: solid 2px #d6e3f9;
  }

  &__text-area {
    @extend .event-form__input;
    height: 40%;
    resize: none;
  }

  &__icon-container {
    display: flex;
    justify-content: space-around;
  }

  /* CSS */
  &__button {
    @include button-styling;
    width: 80%;
    margin: auto;
  }
}
