@use "../../styles/partials/mixins.scss" as *;
@use "../../styles/partials/colors.scss" as *;

.home {
  background-color: $secondary-color;
  height: 100%;
  &__hero {
    height: 60%;
    width: 100%;
    background-color: #ffffff;
  }
  &__info-section {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 40%;
    width: 90%;
    margin: auto;
    background-color: $secondary-color;
  }
  &__card{
    height: 60%;
    width: 300px;
    border-radius: 30px;
    background-color: #ffffff;
  }
  &__hero{
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  &__text-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  &__image{
    height: 300px;
    width: 400px;
  }
}
