@use "../../styles/partials/mixins.scss" as *;

.wrapper {
  display: flex;
  height: 100%;
  width: 100%;
}

.test {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.map-field {
  z-index: 1;
  height: 100%;
  width: 100%;
  display: flex;

  &__button-container {
    position: absolute;
    bottom: 2rem;
    z-index: 10;
  }

  &__add-button {
    @include button-styling;
    width: 200px;
    margin-left: 5rem;
  }
  &__change-button {
    @extend .map-field__add-button;
  }

  &__container {
    position: absolute;
    display: flex;
    right: 1rem;
    bottom: 1rem;
    margin: auto;
  }
  &__question {
    position: absolute;
    font-size: 2rem;
    bottom: 5rem;
    left: 25%;
  }
}
