@use "../../styles/partials/mixins.scss" as *;

.wrapper {
  display: flex;
  height: 100%;
  width: 100%;
}



.test {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.map-field {
  z-index: 1;
  height: 100%;
  width: 100%;
  display: flex;

  &__add-button {
    @include button-styling;
    position: absolute;
    bottom: 1rem;
    left: 5%;
    z-index: 100;
    width: 10rem;
  }
  &__change-button {
    @extend .map-field__add-button;
    left: 27%;
  }

  &__container {
    position: absolute;
    display: flex;
    right: 1rem;
    bottom: 1rem;
    margin: auto;
  }
  &__question {
    position: absolute;
    bottom: 3rem;
    left: 40%;
  }
}

