@use "../../styles/partials/mixins.scss" as *;
@use "../../styles/partials/colors.scss" as *;
.header {
  height: 3.5rem;
  display: flex;
  justify-content: space-between;
  padding: 0 1.5rem;
  align-items: center;
  background: linear-gradient(90deg, $primary-color 0%, #2f88e6 0, $primary-color 100%);

  &__button {
    @include button-styling;
    width: 100px;
  }
  &__logo{
    height: 2rem;
  }
}
