@use "../../styles/partials/mixins.scss" as *;


.prompt{
  &__header{

  }
  &__button-wrapper{
    display: flex;
    width: 100%;
    justify-content: space-around;
  }
  &__button{
    @include button-styling;
    width: 25%;
  }
}